In [154]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [155]:
books_filename = "C:/Users/mail2/Envs/mlearn/BX-Books.csv"
ratings_filename ="C:/Users/mail2/Envs/mlearn/BX-Book-Ratings.csv"

In [156]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [157]:
#the shape of both the files
print(df_books.shape)
df_ratings.shape

(271379, 3)

(1149780, 3)

In [158]:
df1 =df_ratings.copy()
#df1.drop(df1[df1.rating == 0.0].index, inplace=True)
#df.drop(df[df.score < 50].index, inplace=True)
df1.shape[0]

1149780

In [115]:
for i in df1.index:  
  if(df1.at[i,'isbn'].isalnum()):
    pass
  else:
    df1.at[i,'isbn']=''.join(e for e in df1.at[i,'isbn'] if e.isalnum())

In [262]:
good_user_ratings=[]
users_rated=np.unique(df1.loc[:,'user'], return_counts=True)
for i in range(len(users_rated[0])):
  if users_rated[1][i]>=200:
    #df1.drop(df1.user!= users_rated[0][i], axis=0)
    good_user_ratings.append(users_rated[0][i])
print(len(good_user_ratings))
good=df1['user'].value_counts()
good[counts]

21

NameError: name 'counts' is not defined

In [256]:
books_rated=np.unique(df_ratings[['isbn']].to_numpy(), return_counts=True)
valid_rated_books=[]
df_books1=df_books.copy()

for i in range(len(books_rated[0])):
  if books_rated[1][i]>=100:
    #df_books1.drop(df_books1[df_books1.isbn== books_rated[0][i]].index, inplace = True)
    valid_rated_books.append(books_rated[0][i])
len(valid_rated_books)
valid=df1['isbn'].value_counts()
print(valid)

0971880107    365
0316666343    272
0060928336    221
0440214041    218
0385504209    217
             ...
076790592X     23
0451191145     23
0684833395     22
0091867770     19
0671027344     16
Name: isbn, Length: 731, dtype: int64

In [56]:
df_books1=df_books1[df_books1.isbn.isin(valid_rated_books)]
df_books1.shape

(727, 3)

In [161]:
df1 =df1[df1.isbn.isin(valid_rated_books) & df1.user.isin(good_user_ratings)]
df1.shape

(49781, 3)

In [120]:
df1

           user        isbn  rating
1456     277427  002542730X    10.0
1469     277427  0060930535     0.0
1471     277427  0060934417     0.0
1474     277427  0061009059     9.0
1484     277427  0140067477     0.0
...         ...         ...     ...
1147304  275970  0804111359     0.0
1147436  275970  140003065X     0.0
1147439  275970  1400031346     0.0
1147440  275970  1400031354     0.0
1147441  275970  1400031362     0.0

[49783 rows x 3 columns]

In [230]:
df1_pivot = df1.pivot_table(index='isbn', columns='user', values='rating', aggfunc={'rating': np.nanmax}).add_prefix('rate_').fillna(0)
df1_pivot

user,rate_254,rate_2276,rate_2766,rate_2977,rate_3363,rate_4017,rate_4385,rate_6242,rate_6251,rate_6323,...,rate_274004,rate_274061,rate_274301,rate_274308,rate_274808,rate_275970,rate_277427,rate_277478,rate_277639,rate_278418
isbn,,,,,,,,,,,,,,,,,,,,,
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
0060008032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060096195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
006016848X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060173289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573227331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573229326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573229571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1592400876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1878424319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [231]:
df_books1=df_books.copy()
df_books1=df_books1[df_books1.isbn.isin(valid_rated_books)]
df_books1=df_books1[['isbn','title']]
df_books1=df_books1.set_index('isbn')
df_books1
#df_merged=df_books1.merge(df1_pivot,left_index=True, right_index=True)

                                                        title
isbn
0440234743                                      The Testament
0452264464               Beloved (Plume Contemporary Fiction)
0971880107                                        Wild Animus
0345402871                                           Airframe
0345417623                                           Timeline
...                                                       ...
0425178765                                          Easy Prey
0449223604                                    M Is for Malice
0345444884                                       The Talisman
0060008032                                             Angels
0515135739  Eleventh Hour: An FBI Thriller (FBI Thriller (...

[727 rows x 1 columns]

In [232]:
df_merged=df_books1.merge(df1_pivot,left_index=True, right_index=True)
df_merged

,title,rate_254,rate_2276,rate_2766,rate_2977,rate_3363,rate_4017,rate_4385,rate_6242,rate_6251,...,rate_274004,rate_274061,rate_274301,rate_274308,rate_274808,rate_275970,rate_277427,rate_277478,rate_277639,rate_278418
isbn,,,,,,,,,,,,,,,,,,,,,
0440234743,The Testament,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0452264464,Beloved (Plume Contemporary Fiction),0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0971880107,Wild Animus,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345402871,Airframe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345417623,Timeline,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0425178765,Easy Prey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0449223604,M Is for Malice,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345444884,The Talisman,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060008032,Angels,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0515135739,Eleventh Hour: An FBI Thriller (FBI Thriller (...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [181]:
req_books = ["0345351525","0833563505","0446672211","0671888587","0553567187",'0316782505','0345447840',"0345447832","0451180240","0749902698",'0060987561',"0061097640","0965605914","0694519405"]
df_req_books=df_merged[df_merged.index.isin(req_books)]
df_req_books

,title,rate_254,rate_2276,rate_2766,rate_2977,rate_3363,rate_4017,rate_4385,rate_6242,rate_6251,...,rate_274004,rate_274061,rate_274301,rate_274308,rate_274808,rate_275970,rate_277427,rate_277478,rate_277639,rate_278418
isbn,,,,,,,,,,,,,,,,,,,,,
0671888587,I'll Be Seeing You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0316782505,The Weight of Water,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
0345351525,The Queen of the Damned (Vampire Chronicles (P...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060987561,I Know This Much Is True,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345447840,The Surgeon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [233]:
df_merged=df_merged.set_index('title')

In [237]:
df_merged=df_merged.drop_duplicates(keep='first')

In [238]:
df_merged

,rate_254,rate_2276,rate_2766,rate_2977,rate_3363,rate_4017,rate_4385,rate_6242,rate_6251,rate_6323,...,rate_274004,rate_274061,rate_274301,rate_274308,rate_274808,rate_275970,rate_277427,rate_277478,rate_277639,rate_278418
title,,,,,,,,,,,,,,,,,,,,,
The Testament,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Beloved (Plume Contemporary Fiction),0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wild Animus,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Airframe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Timeline,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Easy Prey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
M Is for Malice,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Talisman,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angels,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Eleventh Hour: An FBI Thriller (FBI Thriller (Jove Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [242]:
req_books = ["Where the Heart Is (Oprah's Book Club (Paperback))","I'll Be Seeing You","The Weight of Water","I Know This Much Is True","The Surgeon"]
df_req_books=df_merged[df_merged.index.isin(req_books)]
df_req_books

,rate_254,rate_2276,rate_2766,rate_2977,rate_3363,rate_4017,rate_4385,rate_6242,rate_6251,rate_6323,...,rate_274004,rate_274061,rate_274301,rate_274308,rate_274808,rate_275970,rate_277427,rate_277478,rate_277639,rate_278418
title,,,,,,,,,,,,,,,,,,,,,
I'll Be Seeing You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Weight of Water,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Where the Heart Is (Oprah's Book Club (Paperback)),0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
I Know This Much Is True,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Surgeon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [183]:
book_csr_matrix=csr_matrix(df_merged.values)
print(book_csr_matrix)

  (0, 15)	9.0
  (0, 25)	9.0
  (0, 32)	8.0
  (0, 84)	6.0
  (0, 88)	10.0
  (0, 217)	7.0
  (0, 294)	7.0
  (0, 309)	5.0
  (0, 315)	9.0
  (0, 369)	10.0
  (0, 373)	8.0
  (0, 671)	9.0
  (0, 675)	9.0
  (0, 715)	7.0
  (0, 728)	7.0
  (0, 729)	9.0
  (0, 743)	10.0
  (0, 761)	5.0
  (0, 765)	8.0
  (0, 766)	9.0
  (0, 830)	8.0
  (0, 877)	9.0
  (1, 7)	5.0
  (1, 25)	8.0
  (1, 55)	9.0
  :	:
  (724, 329)	10.0
  (724, 331)	10.0
  (724, 368)	9.0
  (724, 376)	10.0
  (724, 529)	10.0
  (724, 609)	10.0
  (724, 610)	8.0
  (724, 637)	8.0
  (724, 701)	10.0
  (724, 736)	8.0
  (724, 846)	7.0
  (724, 879)	10.0
  (725, 25)	8.0
  (725, 398)	8.0
  (725, 408)	7.0
  (725, 511)	8.0
  (725, 636)	7.0
  (725, 805)	7.0
  (725, 851)	6.0
  (725, 854)	8.0
  (725, 876)	8.0
  (726, 25)	5.0
  (726, 80)	7.0
  (726, 312)	10.0
  (726, 627)	8.0

In [102]:
req_books = ["0345351525","0833563505","0446672211","0671888587","0553567187",'0316782505','0345447840',"0345447832","0451180240","0749902698",'0060987561',"0061097640","0965605914","0694519405"]
df_req_books=df1_pivoted[df1_pivoted.index.isin(req_books)]
df_req_books

user,rate_2276,rate_3757,rate_4385,rate_6242,rate_6251,rate_6575,rate_7346,rate_11676,rate_13552,rate_16634,...,rate_257204,rate_258185,rate_261829,rate_262998,rate_264321,rate_265115,rate_265889,rate_269566,rate_270713,rate_274061
isbn,,,,,,,,,,,,,,,,,,,,,
0060987561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0316782505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345351525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345447832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0345447840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0446672211,0.0,0.0,0.0,0.0,0.0,8.0,0.0,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
0671888587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [243]:
df_array= df_merged.to_numpy()
df_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 6., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [263]:
book="Where the Heart Is (Oprah's Book Club (Paperback))"
find_book=df_merged.loc[[book],:]
print(find_book)
book=find_book.to_numpy()
book

                                                    rate_254  rate_2276  \
title
Where the Heart Is (Oprah's Book Club (Paperback))       0.0        0.0

                                                    rate_2766  rate_2977  \
title
Where the Heart Is (Oprah's Book Club (Paperback))        0.0        0.0

                                                    rate_3363  rate_4017  \
title
Where the Heart Is (Oprah's Book Club (Paperback))       10.0        0.0

                                                    rate_4385  rate_6242  \
title
Where the Heart Is (Oprah's Book Club (Paperback))        0.0        0.0

                                                    rate_6251  rate_6323  ...  \
title                                                                     ...
Where the Heart Is (Oprah's Book Club (Paperback))        0.0        0.0  ...

                                                    rate_274004  rate_274061  \
title
Where the Heart Is (Oprah's Book Club (Paperback))          0.0          0.0

                                                    rate_274301  rate_274308  \
title
Where the Heart Is (Oprah's Book Club (Paperback))          0.0          0.0

                                                    rate_274808  rate_275970  \
title
Where the Heart Is (Oprah's Book Club (Paperback))         10.0          0.0

                                                    rate_277427  rate_277478  \
title
Where the Heart Is (Oprah's Book Club (Paperback))          0.0          0.0

                                                    rate_277639  rate_278418
title
Where the Heart Is (Oprah's Book Club (Paperback))          0.0          0.0

[1 rows x 888 columns]

array([[ 0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,
         8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  0.,  4.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  9.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0., 10.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  6.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  4.,  8.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  4.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  9., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         5.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,
         0.,  0.,  0.,  0.]], dtype=float32)

In [264]:
# add your code here - consider creating a new cell for each section of 
neigh = NearestNeighbors(n_neighbors=6,algorithm='brute',metric='cosine')
neigh.fit(df_array)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=6)

In [265]:
distances,nearest_books=neigh.kneighbors(book,return_distance=True)
print(distances)
print(nearest_books)

[[0.         0.7234864  0.7677075  0.7699411  0.77085835 0.8016211 ]]
[[106  67 337 373  54   7]]

In [146]:
result= list(df_merged.index.values)

In [289]:
# function to return recommended books - this will be tested
def get_recommends(book):
  find_book = df_merged.loc[[book],:]
  book_np = find_book.to_numpy()
  distances, indices = neigh.kneighbors(find_book, return_distance=True)
  print(distances)
  print(indices)
  recommended_books = []
  recommended_books.append(book)

  nearest_books=[]
  for i in reversed(range(5)):  
    nearest_books.append([df_merged.index[indices.flatten()[i]],distances.flatten()[i]])
  #print(nearest_books)
  recommended_books.append(nearest_books)

  return recommended_books

In [290]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

[[0.         0.7234864  0.7677075  0.7699411  0.77085835 0.8016211 ]]
[[106  67 337 373  54   7]]
["Where the Heart Is (Oprah's Book Club (Paperback))", [['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864], ["Where the Heart Is (Oprah's Book Club (Paperback))", 0.0]]]
[[0.         0.7234864  0.7677075  0.7699411  0.77085835 0.8016211 ]]
[[106  67 337 373  54   7]]
You passed the challenge! 🎉🎉🎉🎉🎉